/
  ++Begin Video Bar Wizard Generated Code++
/
  \// Created with a Google AJAX Search Wizard
  \// http://code.google.com/apis/ajaxsearch/wizards.html
/
  \// The Following div element will end up holding the actual videobar.
  \// You can place this anywhere on your page.
#videoBar-bar
  %span{ :style => "color:#676767;font-size:11px;margin:10px;padding:4px;" }
    Loading...
/
  Ajax Search Api and Stylesheet
  \// Note: If you are already using the AJAX Search API, then do not include it
  \//       or its stylesheet again
%script{ :src => "http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-vbw", :type => "text/javascript" }
%style{ :type => "text/css" }
  @import url("http://www.google.com/uds/css/gsearch.css");
/
  Video Bar Code and Stylesheet
%script{ :type => "text/javascript" }
  window._uds_vbw_donotrepair = true;
%script{ :src => "http://www.google.com/uds/solutions/videobar/gsvideobar.js?mode=new", :type => "text/javascript" }
%style{ :type => "text/css" }
  @import url("http://www.google.com/uds/solutions/videobar/gsvideobar.css");
%style{ :type => "text/css" }
  \.playerInnerBox_gsvb .player_gsvb {
  width : 320px;
  height : 260px;
  }
%script{ :type => "text/javascript" }
  function LoadVideoBar() {
  
  var videoBar;
  var options = {
  largeResultSet : !true,
  horizontal : true,
  autoExecuteList : {
  cycleTime : GSvideoBar.CYCLE_TIME_MEDIUM,
  cycleMode : GSvideoBar.CYCLE_MODE_LINEAR,
  executeList : ["where the wild things are trailer"]
  }
  }
  
  videoBar = new GSvideoBar(document.getElementById("videoBar-bar"),
  GSvideoBar.PLAYER_ROOT_FLOATING,
  options);
  }
  \// arrange for this function to be called during body.onload
  \// event processing
  GSearch.setOnLoadCallback(LoadVideoBar);
