!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title
      Movies:
      = controller.action_name
    = stylesheet_link_tag 'compiled/application'
  %body
    #container
      .clearfix#main-section
        #hdr-container
          #hdr
            .pgbase
              LOGO AND STUFF
          #menu
            .pgbase
              NAVIGATION GOETH HAR

        #content-container
          #content
            %p{ :style => "color: green" }
              = flash[:notice]


            = yield
